body{
  background-color: #191919;
  color: #fff;
  font-family: Fira Sans;
  font-weight: 800;
  scroll-behavior: smooth;
}
header{
  margin: 0 auto;
  background-color: #F25c27;
  text-align: center;
  border: 3px outset #ff8c5f;
  margin-bottom: 5%;
}
.headline{
  font-size: 2em;
  letter-spacing: 0.7px;
  text-shadow: 1px 2px 2px #191919;
}
